@charset "utf-8";
/* Utils */
.hidden {
  display: none !important;
}

:root {
  /* color */
  --main-color: #ffffff;
  --main-bg-color: #fffcdf;
  --header-color: #fffbca;
  --button-color: #fbf4a4;
  --title-text-color: #ffffff;
  --title-color: #f3e86f;
  --colourless: rgba(0, 0, 0, 0);

  /* size */
  --mobile-width: 360px;
  --mobile-height: 800px;

  /* font */
  --title-font: "Anton";
  --text-font: "Roboto";
  --kor-font: "Noto Sans KR";

  --font-large: 24px;
  --font-medium: 18px;
  --font-small: 14px;

  /* radius */
  --button-radius: 0.3em;
  --input-radius: 0.1em;

  /* shadow */
  --shadow-color: #e6dc73;
  --text-shadow: 1px 1px 4px #d7ce65;
  --button-shadow: 1px 1px 5px #d6d08b;
  --box-shadow: 1px 1px 6px var(--shadow-color);
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--kor-font);
}

#wrap {
  width: var(--mobile-width);
  height: var(--mobile-height);
  background-color: var(--main-color);
  border: black;
  margin: 0 auto;
}

/* 헤더 */
#header {
  width: var(--mobile-width);
  height: 50px;
  background-color: var(--header-color);
  color: var(--title-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px -4px var(--shadow-color);
}
#title {
  font-size: var(--font-large);
  text-shadow: var(--text-shadow);
  font-family: var(--title-font);
}
#logo {
  margin-left: 20px;
  text-shadow: var(--text-shadow);
}
#menu-button {
  color: var(--title-text-color);
  margin-right: 20px;
  font-size: 20px;
  border: 0;
  background-color: var(--colourless);
  text-shadow: var(--text-shadow);
}

/* 로그인 */
#login {
  width: 320px;
  height: 200px;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 200px;
  border-radius: var(--button-radius);
}

#login-title {
  font-size: var(--font-small);
  color: var(--title-color);
}

#login-form input {
  font-size: var(--font-medium);
  margin: 10px;
  border-radius: var(--input-radius);
  border: 0;
  padding: 5px;
  padding-left: 15px;
  border: 0.5px solid #e5e5e56d;
}
#login-form input::placeholder {
  color: #c0c0c0;
}
#login-form #login-btn-container {
  text-align: center;
}

#login-btn-container button {
  border: 0;
  font-size: var(--font-medium);
  width: 100px;
  height: 40px;
  margin: 5px;
  border-radius: var(--button-radius);
  background-color: var(--button-color);
  color: var(--title-text-color);
  font-family: var(--text-font);
  text-shadow: var(--text-shadow);
  box-shadow: var(--button-shadow);
}
#login-btn-container button:active {
  background-color: #ece6a0;
}

/* 위치 */
#location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#location #town {
  margin-right: 10px;
}
#location #location-btn {
  background-color: var(--colourless);
  border: 0;
  font-size: var(--font-medium);
}
#map {
  margin: 0 auto;
  width: 300px;
  height: 200px;
  border-radius: var(--button-radius);
}
